# Python artifacts
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

ai-work/

# Jupyter
.ipynb_checkpoints/

# Local env files
.env

# Packaging
build/
dist/
*.egg-info/

# Tests
.pytest_cache/

# Coverage
.coverage
htmlcov/
